html, body {
  overflow: hidden !important;
  height: 100% !important;
  touch-action: none !important;
  overscroll-behavior: none;
}

.container {
  padding: 20px;
  text-align: center;
}
.back-btn {
  text-align: left;
  color: #007bff;
  padding-bottom: 10px;
  cursor: pointer;
}
.title {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0 20px;
}
.white-box {
  background: #fff;
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}
.label {
  display: block;
  font-weight: bold;
  text-align: left;
  margin: 10px 0 5px;
}
.input {
  max-width: 280px;
  margin: 0 auto 10px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}
.button {
  background-color: #007bff;
  color: #fff;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.success-text {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 20px 0;
}


input.input[type="text"] {
  font-size: 13px !important;
  color: #666 !important;
  font-family: monospace;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}